<!DOCTYPE html>
<html>
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'app1/du1style.css' %}" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="C:\Users\ni20090110\Desktop\Nikitha Front End\css\du1style.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
 height: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
border-radius:20px;

}
</style>
</head>
<body>
<div class="card">
  <img src="C:\Users\ni20090110\Desktop\Nikitha Front End\image\dui.jfif" align="left" style="width:30%">
  <h1>Used Space<h1>
  <h2>49/50</h2><br><br>
  <hr>
  <p><i class="glyphicon glyphicon-th-large"></i> Get More Space</p>
</div>
</body>
</html>
