<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {


	axisY:{
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: [
			{ label: "12am", y: 200 },
			{ label: "3pm", y: 780 },
			{ label: "6pm",  y: 410  },
			{ label: "9pm",  y: 250  },
                        { label: "12pm",  y: 240 },
                        { label: "3am",  y: 210 },
                        { label: "6am",  y: 200 },
 { label: "9am",  y: 200 },
		]
	}]
});
chart.render();
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 270px; width: 80%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
