<html>
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'app1/top2style.css' %}" type="text/css">
<link rel="stylesheet" href="C:\Users\ni20090110\Desktop\Nikitha Front End\css\top1style.css">

</head>
<body>
<div>
    <a>Tasks:&emsp;</a>
    <a href="table1.html" target="_top"><i class="fa fa-bug" aria-hidden="true"></i> Bugs&emsp;</a>
    <a href="task2.html"><i class="fa fa-angle-left" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i> Website&emsp;</a>
    <a href="task2.html"><i class="fa fa-cloud" aria-hidden="true"></i> Server&emsp;</a>
</div>

</body>
</html>
